<%- include('../includes/head.ejs') %>
<%- include('../includes/navigation.ejs') %>

<div class="container">
    <div class="jumbotron bg-light">
        <h1 class="c-dblue">All Products</h1>
        <% if(prods.length > 0) { %>
            <div class="grid">
                <div class="row">
                    <% for(let product of prods) { %>
                        <div class="col-md-6 col-lg-4 col-xl-3 mb-3 d-flex align-items-stretch">
                                <div class="card text-center">
                                    <img src="/<%= product.imageUrl %>" class="card-img-top  d-flex align-items-stretch" alt="...">
                                    <div class="card-body d-flex flex-column">
                                        <h5 class="card-title"><%= product.title %></h5>
                                        <p class="card-title"><str>$ <%= product.price %></str></p>
                                        <div class="mt-auto">
                                            <a class="btn btn-primary" href="/product-list/<%= product.id %>">Details</a>
                                            <% if (isAuth) { %>
                                                <%- include('../includes/add-to-cart', {product: product}) %>
                                            <% } %>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    <% } %>
                </div>
            </div>
            <%- include('../includes/pagination.ejs', {currentPage: currentPage, nextPage: nextPage, previousPage: previousPage, lastPage: lastPage, hasNextPage: hasNextPage, hasPreviousPage: hasPreviousPage}) %>
        <% } else { %>
            <div class="mt-5">
                <h4>No Products Found</h4>
            </div>
        <% } %>
    </div>
</div>

<%- include('../includes/end.ejs') %>